<!DOCTYPE html>
<html>
  <head>
    <title>Recipes App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% unless @public_recipes.nil? %>
      <% @public_recipes.each do |recipe| %>
        <div>
          <%= link_to recipe.name, user_recipe_path(recipe.user.id, recipe) %><br />
          <small>By <%= recipe.user.name %></small>
        </div>
        <div>
          <p>Total food items:</p>
          <p>Total price:</p>
        </div>
      <% end %>
    <% end %>
  </body>
</html>