<!DOCTYPE html>
<html>
  <head>
    <title>Recipes App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div>
      <button type="button">Add Recipe</button>
    </div>
    <% unless @recipes.nil? %>
      <% @recipes.each do |recipe| %>
        <div>
          <div>
          <%= link_to recipe.name, user_recipe_path(@user, recipe) %>
          <!-- can -->
            <%= button_to 'Remove', user_recipe_path(@user,recipe), method: :delete %>
          <!-- end -->
          </div>
          <div>
            <%= recipe.description %>
          </div>
        </div>
      <% end %>
    <% end %>
  </body>
</html>