<!DOCTYPE html>
<html>
  <head>
    <title>Add New Recipe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <h1>New Recipe</h1>
    <div>
      <%= form_with model: @recipe, url: user_recipes_path, method: :post do |f| %>
        <%= f.hidden_field :user_id, value: @user.id %>
        <%= f.label :name %><br />
        <%= f.text_field :name %><br />
        <%= f.label :preparation_time %><br />
        <%= f.text_field :preparation_time %> hours<br />
        <%= f.label :cooking_time %><br />
        <%= f.text_field :cooking_time %> hours<br />
        <%= f.label :description %><br />
        <%= f.text_area :description %><br />
        Public <%= f.check_box :public %><br />
        <%= f.submit "Add Recipe" %>
      <% end %>
    </div>
  </body>
</html>
