<!DOCTYPE html>
<html>
  <head>
    <title>Recipes App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "recipe_details", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="title-recipe-container">
      <h1><%= @recipe.name %></h1>
    </div>
    <%# cancancan %>
    <div class="recipe-detail-container">
      <div>
        <p>Preparation time: <%= @recipe.preparation_time %> hours</p>
        <p>Cooking time: <%= @recipe.cooking_time %> hours</p>
        <p>Description: <%= @recipe.description %></p>
      </div>
      <div class="public-container">
        <div class="public-label">
        <p>Public:</p>
        </div>
        <div class="public-button">
        <%= button_to "", "/toggle_public/#{@recipe.id}", class:"btn btn_recipe_state #{@recipe.public}"%>
        </div>
      </div>
    </div>
    <%# cancancan %>
    <div class="buttons-container">
      <button class="button" alt="Generate shopping list">Generate shopping list</button>
      <%= render "partials/add_ingredient_button", user: @user, recipe: @recipe %>
    </div>
    <hr>
    <div class="table-container">
      <%= render "partials/ingredients_table", food: @food %>
    </div>
  </body>
</html>