<!DOCTYPE html>
<html>
  <head>
    <title>Recipes App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "food", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="add-food-button">
      <%= button_to "Add Food", new_user_food_path, method: :get, class: "link class button" %>
    </div>
    <div class="table-container">
    <table>
    <thead>
    <tr>
      <th>Food</th>
      <th>Quantity</th>
      <th>Measurement unit</th>
      <th>Unit price</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <% @food.each do |food| %>
      <tr>
        <td><%= food.name %></td>
        <td><%= food.quantity %></td>
        <td><%= food.measurement_unit %></td>
        <td>$ <%= food.price %></td>
        <td>
          <div>
            <%=button_to "Delete", {:controller => :foods, :action => 'destroy', :id => food.id}, :method => :delete, class: 'delete-button' %>
          </div>
        </td>
      </tr>
    <% end %>
    </tbody>
    </table>
    </div>
  </body>
</html>