<!DOCTYPE html>
<html>
  <head>
    <title>Recipes App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <h1>Shopping list</h1>
    <% @recipes.each do |recipe| %>
      <h3><%= recipe.name %></h3>
      <% @food_items.each do |food| %>
        <% if recipe.name == food.recipe_name %>
          <%= food.food_name %>
          <%= food.recipe_quantity - food.current_quantity %>
          <%= food.measurement_unit %>
          $ <%= food.price*(food.recipe_quantity - food.current_quantity) %><br />
        <% end %>
      <% end %>
    <% end %>
  </body>
</html>
